@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


:root{
  --primary-color--: #057A55;   /* grean 600 */
  --secondary-color--: #F3FAF7; /* grean 50 */
  
  --tertiary-color--:#1F2937 ;  /* Gray 800 */
  
}